.headline {
    font-weight: 300;
    color: $mainBlue;
    font-size: 1.9rem;

    @mixin atSmall {
        font-size: 2.875rem;
    }

    &--no-t-margin {
        margin-top: 0px;
     }

    &--light {
        font-weight: 100;
     }

    &--centered {
        text-align: center;
    }

     &--small {
        font-size: 1.2rem;

        @mixin atSmall {
            font-size: 1.875rem;
        }
      }

    &--orange {
            color: $mainOrange;
         }

     &--narrow {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
      }

      &--b-margin-small {
        margin-bottom: .5em;
       }

       &--b-margin-large {
        margin-bottom: 1.6em;
        }
    }